<ul class="nav">
  <li><a href="">How to</a></li>
  <li><a href="">How to</a></li>
  <li><a href="">How to</a></li>
  <li><a href="">How to</a></li>
  <li> <a href="#"> ---- </a> </li>
  <li><a href="">How to</a></li>
  <li><a href="">Tips, tricks</a></li>
  <li><a href="">Resources </a></li>
</ul>