<div id="image1" style="float: left; padding-right: 10px"><img src="assets/img/<%= review_image %>.jpg" /></div>

<p>Quality: <%= quality %> | Support: <%= support %> | Recommendation: <%= recommendation %></p>