.seperator {
  
  clear: both;
  text-align: center;
  padding: 10px;
  
}

h3 {

  display: inline;

}

.star {
  
  width: 21px; 
  height: 20px;
  padding: 1px;
  
}

.stars {
  
  float: right;
  
}

.rating {
  color: #117f1d;
  font-weight: bold;
}

.learn_more {

  float: right;
  
}

.review {
  
  margin-left: 20px;
  margin-right: 20px;
  
}

#features {
  
  margin-left: 20px;
  display: inline;
  
}

#feature_list {
  
  margin-bottom: 10px;
  
}

#top_product_image {
  
  float: right;
  
}

.divider {
  
  height: 7px;
  color: #ffffff;
  background-color: #ffffff;
  
}

.hero-unit {
  
  margin-bottom: 5px;
  
}

#the_footer {
  
  float: right;
  margin-right: 10px;
  
}

#social_buttons {
  
  float: right;
  padding: 4px 10px 4px;
  
}