.seperator {
  
  clear: both;
  text-align: center;
  padding: 10px;
  
}

h3 {

  display: inline;

}

.star {
  
  width: 21px; 
  height: 20px;
  padding: 1px;
  
}

.stars {
  
  float: right;
  
}

.rating {
  color: #117f1d;
  font-weight: bold;
}

.support {
  
}

.recommendation {
  
  
}

.learn_more {

  float: right;
  
}

.review {
  
  margin-left: 20px;
  margin-right: 20px;
  
}